<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Title</th>
        <th scope="col" class="px-6 py-3">Author</th>
        <th scope="col" class="px-6 py-3 text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for(book of books | async; track book.id){
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ book.title }}
        </th>
        <td class="px-6 py-4">{{ book.author }}</td>

        <!-- edit -->
        <td class="px-6 py-4">
          <div class="w-full flex justify-center">
<!-- Tener en cuenta que en  (click)="onEdit(book) le paso el objeto book y use la funcion getBooksRef que gracias a collectionData el objecto incluye el id del documento que se pasa dentro del objeto book -->
            <button class="cursor-pointer" (click)="onEdit(book)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-edit"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                />
                <path
                  d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                />
                <path d="M16 5l3 3" />
              </svg>
            </button>
          </div>
        </td>
        <!-- end edit -->
      </tr>
      }@empty {
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600 w-full"
      >
        <td class="px-6 py-4">I haven't added any books yet.</td>
        <td class="px-6 py-4"></td>
        <td class="px-6 py-4"></td>
      </tr>
      }
    </tbody>
  </table>
</div>
