<div
  class="min-h-screen flex flex-col items-center bg-gray-900 w-full text-gray-50 max-[300px]:text-xs max-[300px]:break-all"
>
  <header
    class="min-h-[80px] w-full flex flex-col items-center p-5 border-b border-b-gray-500/95"
  >
    <nav class="dark:bg-gray-900 w-full max-w-[1000px]">
      <div class="flex justify-between max-[300px]:flex-wrap">
        <a routerLink="/home" class="flex items-center">
          <span class="self-center text-2xl font-semibold dark:text-white"
            >FavoriBooks</span
          >
        </a>
        <button
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          (click)="open_menu()"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
        @if(open){
        <div
          class="fixed w-full h-full top-0 right-0 rounded-md z-50 block md:hidden"
        >
          <div
            class="bg-gray-900/95 flex items-center justify-center w-full h-full"
          >
            <div class="w-fit p-5">
              <div
                class="border rounded-lg bg-gray-800 border-gray-700 flex flex-col"
              >
                <div
                  class="cursor-pointer flex justify-end border-b-gray-700 border-b p-2"
                >
                  <svg
                    (click)="close_menu()"
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-3.4 14L12 13.4L8.4 17L7 15.6l3.6-3.6L7 8.4L8.4 7l3.6 3.6L15.6 7L17 8.4L13.4 12l3.6 3.6z"
                    />
                  </svg>
                </div>
                <ul class="font-medium flex flex-col items-center p-5">
                  <li>
                    <a
                      routerLink="/home"
                      routerLinkActive="text-blue-200"
                      class="block py-2 px-3 rounded-2xl hover:text-blue-200 hover:bg-gray-800 transition-all ease-in"
                      >Home</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/lists"
                      routerLinkActive="text-blue-200"
                      class="block py-2 px-3 rounded-2xl hover:text-blue-200 hover:bg-gray-800 transition-all ease-in"
                      >Lists</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/search"
                      routerLinkActive="text-blue-200"
                      class="block py-2 px-3 rounded-2xl hover:text-blue-200 hover:bg-gray-800 transition-all ease-in"
                      >Search Books</a
                    >
                  </li>
                  <li class="pt-5">
                    <app-logout-button></app-logout-button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        }

        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="font-medium flex flex-col items-center p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
          >
            <li>
              <a
                routerLink="/home"
                routerLinkActive="text-blue-200"
                class="block py-2 px-3 rounded-2xl hover:text-blue-200 hover:bg-gray-800 transition-all ease-in"
                >Home</a
              >
            </li>
            <li>
              <a
                routerLink="/lists"
                routerLinkActive="text-blue-200"
                class="block py-2 px-3 rounded-2xl hover:text-blue-200 hover:bg-gray-800 transition-all ease-in"
                >Lists</a
              >
            </li>
            <li>
              <a
                routerLink="/search"
                routerLinkActive="text-blue-200"
                class="block py-2 px-3 rounded-2xl hover:text-blue-200 hover:bg-gray-800 transition-all ease-in"
                >Search Books</a
              >
            </li>
            <li>
              <app-logout-button></app-logout-button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="flex justify-center flex-1 w-full p-5">
    <div class="max-w-[1000px] w-full my-10">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="flex justify-center text-white p-5 text-center w-full">
    <div class="max-w-[1000px] w-full">
      <p class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
        All Rights Reserved to Reyna Blacido Aparicio
      </p>
    </div>
  </footer>
</div>
