<section>
  <h1 class="text-white font-bold text-lg pb-5 text-center">
   WELCOME TO YOUR BOOK SPACE !
</h1>
<div class="flex gap-5 flex-col items-center text-justify">
  <p class="text-white">
    Create your personal list of favorite books here. Start adding titles you
    love—everything you save will remain private and visible only to you. You
    can also explore and search for free books to expand your collection.
  </p>
  <div class="rounded-lg overflow-hidden max-w-3xs border-5 border-white">
    <img
      class="object-cover aspect-2/2 "
      src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWwyM3RuZzN0ZGQxMTVwcXRoeDAydWt3ZnJ2cWZuYmQ1Mzd0YnR5ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ZGjcyagR37DTtvhOUP/giphy.gif"
    />
  </div>
</div>

</section>