<h1 class="text-white font-bold text-lg pb-5">📚 Bienvenido a tu espacio de libros </h1>
<p class=" text-white">
  Aquí puedes crear tu propia lista de
  libros favoritos. Regístrate, inicia sesión y comienza a añadir libros con su
  título, autor, género, calificación y una pequeña reseña. También puedes subir
  una portada, editar o eliminar libros cuando quieras, buscar libros gratuitos
  y activar el modo oscuro para una mejor experiencia. Todo lo que guardes será
  visible solo para ti.
</p>
 
